
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Classificação da Liga Zwame FUT16 à jornada X</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th colspan="2"></th>
                <th>Jogos</th>
                <th>Vitórias</th>
                <th>Empates</th>
                <th>Derrotas</th>
                <th>GM-GS</th>
                <th>Pontos</th>
            </tr>
            <tr>
                <td class="position">1</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/jpf.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">bizk0it0</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">2</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">Dark</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">3</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">Contarim</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">4</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">KingP</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">5</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">JohnyB</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">6</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">MafiaPT</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">7</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">Quiroga</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">8</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">Guazzelli</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">9</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">Culebra</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">10</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">VS</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
            <tr>
                <td class="position">11</td>
                <td>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="avatar fixAvatar40">
                                <img class="imgAvatar fix40" src=" ~/Content/Images/avatar.png" />
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <p class="memberName fixMember20">Kirst</p>
                        </div>
                    </div>
                </td>
                <td> 3</td>
                <td> 2</td>
                <td> 1</td>
                <td> 7 - 4</td>
                <td> 7</td>
                <td> 0</td>
            </tr>
        </thead>
    </table>
</div>

